<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <span>Registro de Funcionarios</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="abrireditor()">
    Añadir Funcionarios
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filtrar por Estado</mat-label>
    <mat-select [(ngModel)]="activeFilter">
      <mat-option [routerLink]="['/funcionarios-activos']" value="A">Activo (A)</mat-option>
      <mat-option [routerLink]="['/funcionarios-inactivos']" value="I">Inactivo (I)</mat-option>
      <mat-option [routerLink]="['/funcionarios-todos']" value="">Todos</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Aquí se mostrarán los componentes FuncionariosActivosComponent o FuncionariosInactivosComponent -->
  <router-outlet></router-outlet>
</div>

  